#registration{
    text-align:center;
    margin-top: 70px;
}

#registrationForm input{
    margin-bottom: 10px;
}

.Button1{
    font-size: 18px;
    font-family: "Comic Sans MS";
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
}

.Button1:hover{
    cursor: pointer;

}

#registrationForm input{
    font-size: 18px;
    font-family: "Comic Sans MS";
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

#registrationForm input:focus {
    outline: none;
}