<center>
<!-- Authorization Form -->
<div><center> <h1><b>Sign in</b></h1></center></div>
<div id="authorization">
	<form method="post" action="/" name="authorizationForm" id = "authorizationForm">
			<input type="text" 	name="loginOrEMail" 		placeholder="Login or E-Mail" size="50">
		<br/>
			<input type="password" name="password" 		placeholder="Password" size="50" id="password">
		<br/>
			<button type="button" id="ShowButton" class="Button1">Show Password</button>
		<br/>
			<input type="submit" 	name="authorization" 	value="Log in">
			<br /> or enter just your Login or E-Mail to
			<input type="submit" 	name="queryToAccessRecovery" 	value="Restore access to your account">
		<br/>
	</form>
</div>
</center>