<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO Action</title>
    <link rel="stylesheet" href="/Layouts/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/Layouts/js/main.js" defer></script>
</head>

<body>

    <?php require_once ($_SERVER['DOCUMENT_ROOT'] .'/Layouts/authorisationForm.html'); ?>
    <div><center> <h1><b>Or </b></h1></center></div>
	<?php require_once ($_SERVER['DOCUMENT_ROOT'] .'/Layouts/registrationForm.html'); ?>



</body>
	
</html>