<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

    <div id="registration">
        <form method="post" action="/" name="indexForm" id = "indexForm">

            <h2 id="Rec">Recovery access</h2>

            <button type="button" name="recovery" id="recovery">Recovery access</button>

            <br/><br/>

                <input type="text" 	name="eMail" 	placeholder="Email" size="50" id="Mail">
            <br/>
                <input type="text" 	name="userLogin" placeholder="Login" size="50" id="Login">
            <br/>
                <input type="password" name="password" 	placeholder="Password" size="50" id="password">
                <img src="/Layouts/images/visible.png" height="30" width="30" id="visability"/>


            <br/>
                <h2 class="text">Enter Login and Password to Sign in</h2>

                <button type="button" id="SignIn">Sign in</button>

                <h2 class="text">Sign in with help of:</h2>


                <img src="/Layouts/images/vk.png" height="30" width="30" class="social"/>

                <img src="/Layouts/images/fb.png" height="30" width="30" class="social"/>

            <br/>
            <br/>
                By clicking on "Join us" below, you are agreeing to the <b>Terms of Service</b> and the <b>Privacy Policy</b>.
            <br/><br/>

            <input type="submit" 	name="registration" 	value="Join us" id="Join">

                <h2 class="text">Registation with help of:</h2>

                <img src="/Layouts/images/vk.png" height="30" width="30" class="social"/>

                <img src="/Layouts/images/fb.png" height="30" width="30" class="social"/>

        </form>
    </div>

</body>
</html>