<!-- Registration Form -->
<div id="registration">
	<form method="post" action="/" name="registrationForm" id = "registrationForm">
		<input type="text" 	name="nickName" placeholder="Login" size="50">
		<br/>
		<input type="text" 	name="userMailAdress" 	placeholder="Email" size="50">
		<br/>
		<input type="password" name="password" 	placeholder="Password" size="50" id="password">
		<br/>
		<button type="button" id="ShowButton" class="Button1">Show Password</button>
		
		<br/>
		<input type="checkbox" name="userAgreementCheck" value="true" checked>Здесь будет сылка на пользовательское соглашение
		<br/>
		<input type="submit" 	name="registration" 	value="Join us">
		<br/>
	</form>
</div>